# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.cache

# Ignore build output
bin/
obj/
*.exe
*.dll
*.pdb
*.log

# Ignore dependencies
packages/
*.nupkg
project.lock.json
project.assets.json

# Ignore database and user settings
*.mdf
*.ldf
*.db
appsettings.json
appsettings.Development.json

# Ignore logs
*.log
logs/
*.tmp

# Ignore publish output
publish/
dist/
build/

# Ignore temporary files
*.bak
*.swp
*.swo

# Ignore Rider / JetBrains files (if using)
.idea/
*.iml

# Ignore Resharper files
_ReSharper.Caches/


